.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
  background-color: #00a859;
  color: #fff;
}
.container.estudio{
    border-bottom: 3px solid #00a859;
}
.nav-link.nav-link {
  color: #00a859;
}

.nav-link.active {
  background-color: #00a859;
  color: white;
}

span {
  color: #00a859;
}

p, h5,h6 {
  margin: 0;
}
li{
    text-align: left;
    list-style: none;
  }
